@keyframes hideSection2 {
  from {
    opacity: 100%;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes hideSection1 {
  from {
    opacity: 100%;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}
