.clans-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;

  border-radius: 2px;
  color: rgba(128, 19, 54, 1);
}

.clans-presentation {
  width: 80%;
  margin: 0 auto;

  background-image: linear-gradient(
    rgba(243, 241, 245, 0.8),
    rgba(243, 241, 245, 0.8)
  );

  padding: 20px 50px;

  border-radius: 2px;
}

.clans-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;

  border-radius: 2px;
}

.clans-text {
  width: 70%;
}

.clans-title {
  border-bottom: 1px solid rgba(45, 19, 44, 1);
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
