.clans-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;

  border-radius: 2px;

  font-size: 20px;
  line-height: 1.4;
  color: rgba(41, 59, 95, 1);
}

.clans-presentation {
  width: 100%;
  margin: 0 auto;

  background-color: rgba(243, 241, 245, 1);

  padding: 50px 50px;

  border-radius: 2px;
}

.clans-description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  width: 100%;

  box-shadow: 1px 2px 8px 8px rgba(41, 59, 95, 0.3);

  border-radius: 2px;
}

.clans-description:not(:first-child) {
  margin-top: 50px;
}

.clans-text {
  width: 70%;
}

.clans-title {
  border-bottom: 1px solid rgba(41, 59, 95, 1);
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
