@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

.navigation {
  display: flex;
  justify-content: flex-end;

  margin: 0 auto;
  width: 90%;
  background-color: rgba(45, 19, 44, 0.7);
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 20%;
}

.navigation ul li {
  font-family: "Comic Neue", cursive;

  padding: 10px;
  color: #eba83a;
}

.navigation ul li:hover {
  transition: all 0.2s;
  color: #f3f1f5;
}
