@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

.section-story {
  display: flex;

  width: 90%;
  padding: 10px;
  margin: 0 auto;

  margin-top: 100px;

  font-family: "Comic Neue", cursive;
  font-size: 20px;
  line-height: 1.4;

  background-color: rgba(243, 241, 245, 1);
  color: rgba(41, 59, 95, 1);

  border-radius: 2px;
  padding: 50px 10px;
}

.story-h2 {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
}

.story-container {
  width: 70%;
  margin: 0 auto;

  padding: 10px 20px;
  border-radius: 2px;

  box-shadow: 1px 2px 8px 8px rgba(41, 59, 95, 0.5);
}

.story-animation-container:hover .story-container {
  transform: scale(1.1);

  box-shadow: 1px 2px 8px 8px rgba(25, 67, 80, 0.5);
  color: rgba(25, 67, 80, 1);

  transition: all 0.5s;
}

.story-animation-container:hover .story-h2 {
  text-decoration: underline;

  transition: all 0.5s;
}
