.home {
  background-image: url("../images/back1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; /* so when section-2 in the body disapears to the right, the overflow is not showed */
}
